{% load static %}
{% load humanize %}

<section class="heading-news2">

    <div class="container">

        <div class="iso-call heading-news-box">

            <div class="news-post image-post default-size">

                <img src="{{ request.scheme }}://{{ request.get_host }}/{{ post.attachment.path }}" alt="">

                <div class="hover-box">
                    <div class="inner-hover">
                        <a class="category-post" href="politics-category.html">{{ most_viewed_posts.9.categories.0.name }}</a>
                        <h2><a href="{% url 'post_detail' most_viewed_posts.9.slug %}">{{ post.title }}</a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i><span>{{ most_viewed_posts.9.pub_date|naturaltime }}</span></li>
                            <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                        </ul>
                        <p>{{ most_viewed_posts.9.content|safe|slice:"0:100" }}</p>
                    </div>
                </div>
            </div>

            <div class="image-slider snd-size">
                <span class="top-stories">TOP STORIES</span>
                <ul class="bxslider">
                    {% for post in most_viewed_posts|slice:"0:5" %}
                    <li>
                        <div class="news-post image-post">

                            <img src="{{ request.scheme }}://{{ request.get_host }}/{{ post.attachment.path }}" alt="">
{#                            <img src="{{ post.attachment.path  }}" alt="">#}

                            <div class="hover-box">
                                <div class="inner-hover">
                                    <a class="category-post" href="politics-category.html">{{ post.categories.0.name }}</a>
                                    <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>{{ post.pub_date|naturaltime }}</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">{{ post.author.first_name }} {{ post.author.last_name }}</a></li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
                                        <li><i class="fa fa-eye"></i>{{ post.views }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            {% for post in most_viewed_posts|slice:"6:9" %}
            <div class="news-post image-post">
                <img src="{{ request.scheme }}://{{ request.get_host }}/{{ post.attachment.path }}" alt="">
                <div class="hover-box">
                    <div class="inner-hover">
                        <a class="category-post" href="politics-category.html">{{ post.categories.0.name }}</a>
                        <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i><span>{{ post.pub_date|naturaltime }}</span></li>
                            <li><a href="#"><i class="fa fa-comments-o"></i><span>20</span></a></li>
                        </ul>
                        <p>{{ post.content|safe|slice:"0:100" }}</p></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</section>