{% load static %}
{% load humanize %}
<!-- block content -->
<div class="block-content" id="posts-by-categories">

    <!-- grid box -->
    <div class="grid-box">

        <div class="title-section">
            <h1><span>Today's Featured</span></h1>
        </div>

        <ul class="category-filter-posts">
            <li>
                <a {% if category_id == 0 %} class="active" {% endif %} href="?#posts-by-categories">All</a>
            </li>
            {% for category in categories %}
                <li>
                    <a {% if category_id == 19 %} class="active" {% endif %} href="?cat={{ category.id }}#posts-by-categories">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>

        <div class="image-post-slider">
            <ul class="bxslider">
                {% for post in posts_by_categories|slice:"0:2" %}
                <li>
                    <div class="news-post image-post2">
                        <div class="post-gallery">
                            <img src="{{ post.attachment.path }}" alt="">
                            <div class="hover-box">
                                <div class="inner-hover">
                                    <a class="category-post"
                                       href="politics-category.html">{{ post.categories.0.name }}</a>
                                    <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>{{ post.pub_date|naturaltime }}</li>
                                        <li><i class="fa fa-user"></i>by <a href="#">{{ post.author.first_name }}</a>
                                        </li>
                                        <li><a href="#"><i
                                                class="fa fa-comments-o"></i><span>23</span></a>
                                        </li>
                                        <li><i class="fa fa-eye"></i>{{ post.views }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="row">
            <div class="col-md-6">
                <ul class="list-posts">
                    {% for post in posts_by_categories|slice:"2:5" %}
                    <li>
                        <img src="{{ post.attachment.path }}" alt="">
                        <div class="post-content">
                            <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>{{ post.pub_date|naturaltime }}</li>
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-6">
                <ul class="list-posts">
                    {% for post in posts_by_categories|slice:"5:8" %}
                    <li>
                        <img src="{{ post.attachment.path }}" alt="">
                        <div class="post-content">
                            <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
                            <ul class="post-tags">
                                <li><i class="fa fa-clock-o"></i>{{ post.pub_date|naturaltime }}</li>
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="center-button">
            <a href="#"><i class="fa fa-refresh"></i> More from featured</a>
        </div>

    </div>
    <!-- End grid box -->

</div>
<!-- End block content -->