{% load static %}
<!-- sidebar -->
<div class="sidebar small-sidebar theiaStickySidebar">
                        <div class="widget review-widget">
                            <div class="title-section">
                                <h1><span>Review</span></h1>
                            </div>

                            <ul class="review-posts-list">
                                <li>
                                    <img src="{% static 'upload/news-posts/rev1.jpg' %}" alt="">
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a>
                                    </h2>
                                    <span class="date">27 may 2013</span>
                                </li>
                                <li>
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a>
                                    </h2>
                                    <span class="date">27 may 2013</span>
                                </li>
                                <li>
                                    <img src="{% static 'upload/news-posts/rev2.jpg' %}" alt="">
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a>
                                    </h2>
                                    <span class="date">27 may 2013</span>
                                </li>
                                <li>
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a>
                                    </h2>
                                    <span class="date">27 may 2013</span>
                                </li>
                                <li>
                                    <img src="{% static 'upload/news-posts/rev3.jpg' %}" alt="">
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a>
                                    </h2>
                                    <span class="date">27 may 2013</span>
                                </li>
                                <li>
                                    <img src="{% static 'upload/news-posts/rev4.jpg' %}" alt="">
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a>
                                    </h2>
                                    <span class="date">27 may 2013</span>
                                </li>
                                <li>
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a>
                                    </h2>
                                    <span class="date">27 may 2013</span>
                                </li>
                            </ul>
                        </div>

                    </div>