{% load static %}

<!-- sidebar -->
<div class="sidebar small-sidebar theiaStickySidebar">

	<div class="widget voises-widget">
		<div class="title-section">
			<h1><span>Voises</span></h1>
		</div>
		<ul class="voises-posts">

			<li>
				<img src="{% static 'upload/users/av1.jpg' %}" alt="">
				<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </p>
				<span>By Howard Kurtz</span>
			</li>

			<li>
				<img src="{% static 'upload/users/av2.jpg' %}" alt="">
				<p>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
				<span>By Dana Blanton</span>
			</li>

			<li>
				<img src="{% static 'upload/users/av3.jpg' %}" alt="">
				<p>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, </p>
				<span>By John Doe</span>
			</li>

			<li>
				<img src="{% static 'upload/users/av4.jpg' %}" alt="">
				<p>Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</p>
				<span>By Howard</span>
			</li>

		</ul>
	</div>

</div>