{% load static %}
<div class="col-md-3">
    <div class="widget flickr-widget">
        <h1>Flickr Photos</h1>
        <ul class="flickr-list">
            <li><a href="#"><img src="{% static 'upload/flickr/1.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'upload/flickr/2.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'upload/flickr/3.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'upload/flickr/4.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'upload/flickr/5.jpg' %}" alt=""></a></li>
            <li><a href="#"><img src="{% static 'upload/flickr/6.jpg' %}" alt=""></a></li>
        </ul>
        <a href="#">View more photos...</a>
    </div>
</div>