{% load static %}

<!-- footer ================================================== -->
<footer>
	<div class="container">

        <div class="footer-widgets-part">
            <div class="row">
                {% include 'components/footer/about.html' %}
                {% include 'components/footer/popular-tags.html' %}
                {% include 'components/footer/news-random.html' %}
                {% include 'components/footer/flickr-photos.html' %}
            </div>
		</div>
        {% include 'components/footer/footer-last-line.html' %}
	</div>
</footer>
<!-- End footer -->