{% load static %}
<div class="col-md-3">
    <div class="widget tags-widget">
        <h1>Popular Tags</h1>
        <ul class="tag-list">
            <li><a href="#">News</a></li>
            <li><a href="#">Fashion</a></li>
            <li><a href="#">Politics</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Videos</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Food</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">World</a></li>
            <li><a href="#">Music</a></li>
        </ul>
    </div>
</div>