{% load static %}
<!-- google addsense -->
<div class="advertisement">
    <div class="desktop-advert">
        <span>Advertisement</span>
        <img src="{% static 'upload/addsense/600x80.jpg' %}" alt="">
    </div>
    <div class="tablet-advert">
        <span>Advertisement</span>
        <img src="{% static 'upload/addsense/468x60-white.jpg' %}" alt="">
    </div>
    <div class="mobile-advert">
        <span>Advertisement</span>
        <img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
    </div>
</div>
<!-- End google addsense -->