{% load static %}

<!-- sidebar -->
<div class="sidebar large-sidebar theiaStickySidebar">

	{% include 'pages/home/polling.html' %}

	<div class="widget features-slide-widget">
		<div class="title-section">
			<h1><span>Featured Posts</span></h1>
		</div>
		<div class="image-post-slider">
			<ul class="bxslider">
				<li>
					<div class="news-post image-post2">
						<div class="post-gallery">
							<img src="{% static 'upload/news-posts/im3.jpg' %}" alt="">
							<div class="hover-box">
								<div class="inner-hover">
									<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="news-post image-post2">
						<div class="post-gallery">
							<img src="{% static 'upload/news-posts/im1.jpg' %}" alt="">
							<div class="hover-box">
								<div class="inner-hover">
									<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="news-post image-post2">
						<div class="post-gallery">
							<img src="{% static 'upload/news-posts/im2.jpg' %}" alt="">
							<div class="hover-box">
								<div class="inner-hover">
									<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
									<ul class="post-tags">
										<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										<li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<ul class="list-posts">
			<li>
				<img src="{% static 'upload/news-posts/listw1.jpg' %}" alt="">
				<div class="post-content">
					<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
					<ul class="post-tags">
						<li><i class="fa fa-clock-o"></i>27 may 2013</li>
					</ul>
				</div>
			</li>

			<li>
				<img src="{% static 'upload/news-posts/listw2.jpg' %}" alt="">
				<div class="post-content">
					<h2><a href="single-post.html">Sed arcu. Cras consequat.</a></h2>
					<ul class="post-tags">
						<li><i class="fa fa-clock-o"></i>27 may 2013</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>

	<div class="advertisement">
		<div class="desktop-advert">
			<span>Advertisement</span>
			<img src="{% static 'upload/addsense/250x250.jpg' %}" alt="">
		</div>
		<div class="tablet-advert">
			<span>Advertisement</span>
			<img src="{% static 'upload/addsense/200x200.jpg' %}" alt="">
		</div>
		<div class="mobile-advert">
			<span>Advertisement</span>
			<img src="{% static 'upload/addsense/300x250.jpg' %}" alt="">
		</div>
	</div>

	<div class="widget tab-posts-widget">

		<ul class="nav nav-tabs" id="myTab">
			<li class="active">
				<a href="#option1" data-toggle="tab">Popular</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="option1">
				<ul class="list-posts">
					<li>
						<img src="{% static 'upload/news-posts/listw1.jpg' %}" alt="">
						<div class="post-content">
							<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
							<ul class="post-tags">
								<li><i class="fa fa-clock-o"></i>27 may 2013</li>
							</ul>
						</div>
					</li>

					<li>
						<img src="{% static 'upload/news-posts/listw2.jpg' %}" alt="">
						<div class="post-content">
							<h2><a href="single-post.html">Sed arcu. Cras consequat. </a></h2>
							<ul class="post-tags">
								<li><i class="fa fa-clock-o"></i>27 may 2013</li>
							</ul>
						</div>
					</li>

					<li>
						<img src="{% static 'upload/news-posts/listw3.jpg' %}" alt="">
						<div class="post-content">
							<h2><a href="single-post.html">Phasellus ultrices nulla quis nibh. Quisque a lectus.  </a></h2>
							<ul class="post-tags">
								<li><i class="fa fa-clock-o"></i>27 may 2013</li>
							</ul>
						</div>
					</li>

					<li>
						<img src="{% static 'upload/news-posts/listw4.jpg' %}" alt="">
						<div class="post-content">
							<h2><a href="single-post.html">Donec consectetuer ligula vulputate sem tristique cursus. </a></h2>
							<ul class="post-tags">
								<li><i class="fa fa-clock-o"></i>27 may 2013</li>
							</ul>
						</div>
					</li>

					<li>
						<img src="{% static 'upload/news-posts/listw5.jpg' %}" alt="">
						<div class="post-content">
							<h2><a href="single-post.html">Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi. </a></h2>
							<ul class="post-tags">
								<li><i class="fa fa-clock-o"></i>27 may 2013</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

</div>
<!-- End sidebar -->