{% load static %}

<!-- list line posts -->
<div class="list-line-posts">
					<div class="container">

						<div class="owl-wrapper">
							<div class="owl-carousel" data-num="3">

								<div class="item list-post">
									<img src="{% static 'upload/news-posts/listw5.jpg' %}" alt="">
									<div class="post-content">
										<a href="politics-category.html">Politics</a>
										<h2><a href="single-post.html">Donec odio. Quisque volutpat mattis eros. Nullam malesuada </a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										</ul>
									</div>
								</div>

								<div class="item list-post">
									<img src="{% static 'upload/news-posts/listw4.jpg' %}" alt="">
									<div class="post-content">
										<a href="politics-category.html">World</a>
										<h2><a href="single-post.html">Nullam malesuada erat ut turpis. Suspendisse urna nibh</a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										</ul>
									</div>
								</div>

								<div class="item list-post">
									<img src="{% static 'upload/news-posts/listw3.jpg' %}" alt="">
									<div class="post-content">
										<a href="politics-category.html">Business</a>
										<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										</ul>
									</div>
								</div>

								<div class="item list-post">
									<img src="{% static 'upload/news-posts/listw2.jpg' %}" alt="">
									<div class="post-content">
										<a href="politics-category.html">Election</a>
										<h2><a href="single-post.html">Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. </a></h2>
										<ul class="post-tags">
											<li><i class="fa fa-clock-o"></i>27 may 2013</li>
										</ul>
									</div>
								</div>

							</div>
						</div>

					</div>
				</div>
<!-- End list line posts -->