{% load static %}
<li class="drop-arrow"><a href="politics-category.html">Politics</a>
    <div class="megadropdown">
        <div class="container">
            <div class="inner-megadropdown world-dropdown">
                <div class="filter-block">
                    <ul class="filter-posts">
                        <li><a href="#">All</a></li>
                        <li><a href="#">Perspectives</a></li>
                        <li><a href="#">Congress</a></li>
                        <li><a class="active" href="#">Agenda</a></li>
                        <li><a href="#">White House</a></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </div>
                <div class="posts-filtered-block">
                    <div class="owl-wrapper">
                        <h1>Agenda</h1>
                        <div class="owl-carousel" data-num="4">

                            <div class="item news-post standard-post">
                                <div class="post-gallery">
                                    <img src="{% static 'upload/news-posts/art1.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <h2><a href="single-post.html">Donec odio. Quisque volutpat mattis
                                        eros. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item news-post standard-post">
                                <div class="post-gallery">
                                    <img src="{% static 'upload/news-posts/art2.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <h2><a href="single-post.html">Quisque volutpat mattis eros. Nullam
                                        malesuada erat ut turpis. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item news-post standard-post">
                                <div class="post-gallery">
                                    <img src="{% static 'upload/news-posts/art3.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <h2><a href="single-post.html">Suspendisse urna nibh, viverra non,
                                        semper suscipit, posuere a, pede.</a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item news-post standard-post">
                                <div class="post-gallery">
                                    <img src="{% static 'upload/news-posts/art5.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis
                                        fermentum. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="item news-post standard-post">
                                <div class="post-gallery">
                                    <img src="{% static 'upload/news-posts/art6.jpg' %}" alt="">
                                </div>
                                <div class="post-content">
                                    <h2><a href="single-post.html">Donec nec justo eget felis facilisis
                                        fermentum. </a></h2>
                                    <ul class="post-tags">
                                        <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                        <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</li>
<li><a href="politics-category.html">Elections</a></li>
<li class="drop-arrow"><a href="politics-category.html">World</a>
    <div class="megadropdown">
        <div class="container">
            <div class="inner-megadropdown tech-dropdown">

                <div class="owl-wrapper">
                    <ul class="horizontal-filter-posts">
                        <li><a class="active" href="#">All</a></li>
                        <li><a href="#">Business</a></li>
                        <li><a href="#">Europe</a></li>
                        <li><a href="#">USA</a></li>
                        <li><a href="#">Money</a></li>
                    </ul>
                    <div class="owl-carousel" data-num="4">

                        <div class="item news-post standard-post">
                            <div class="post-gallery">
                                <img src="{% static 'upload/news-posts/art4.jpg' %}" alt="">
                            </div>
                            <div class="post-content">
                                <h2><a href="single-post.html">Donec odio. Quisque volutpat mattis
                                    eros. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="item news-post standard-post">
                            <div class="post-gallery">
                                <img src="{% static 'upload/news-posts/art2.jpg' %}" alt="">
                            </div>
                            <div class="post-content">
                                <h2><a href="single-post.html">Quisque volutpat mattis eros. Nullam
                                    malesuada erat ut turpis. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="item news-post standard-post">
                            <div class="post-gallery">
                                <img src="{% static 'upload/news-posts/art3.jpg' %}" alt="">
                            </div>
                            <div class="post-content">
                                <h2><a href="single-post.html">Suspendisse urna nibh, viverra non,
                                    semper suscipit, posuere a, pede.</a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="item news-post standard-post">
                            <div class="post-gallery">
                                <img src="{% static 'upload/news-posts/art6.jpg' %}" alt="">
                            </div>
                            <div class="post-content">
                                <h2><a href="single-post.html">Donec nec justo eget felis facilisis
                                    fermentum. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="item news-post standard-post">
                            <div class="post-gallery">
                                <img src="{% static 'upload/news-posts/art1.jpg' %}" alt="">
                            </div>
                            <div class="post-content">
                                <h2><a href="single-post.html">Donec nec justo eget felis facilisis
                                    fermentum. </a></h2>
                                <ul class="post-tags">
                                    <li><i class="fa fa-clock-o"></i>27 may 2013</li>
                                    <li><a href="#"><i class="fa fa-comments-o"></i><span>23</span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</li>