{% load static %}
{% load humanize %}

<!-- list line posts -->
<div class="list-line-posts">
    <div class="container">

        <div class="owl-wrapper">
            <div class="owl-carousel" data-num="3">

                {%  for post in latest_posts %}
                <div class="item list-post">
                    <img src="{{ post.attachment.path }}" alt="">
                    <div class="post-content">
                        <a href="politics-category.html">{{ post.categories.0.name }}</a>
                        <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                        </h2>
                        <ul class="post-tags">
                            <li><i class="fa fa-clock-o"></i>{{  post.pub_date|naturaltime }}</li>
                        </ul>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>
<!-- End list line posts -->