{% load static %}
{% load humanize %}

<!-- list line posts -->
<div class="list-line-posts">
    <div class="container">

        <div class="owl-wrapper">
            <div class="owl-carousel" data-num="3">

                {%  for post in latest_posts %}
                <div class="item list-post">
                    <img src="{{ post.attachment.path }}" alt="">
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
</div>
<!-- End list line posts -->