{% extends "base.html" %}
{% load static %}
{% block content %}

    {% include 'components/header/header-index.html' %}
    <section class="block-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8 content-blocker">
                    {% include 'components/news-list.html' %}
                </div>
                <div class="col-md-3 col-sm-4 sidebar-sticky">
                    {% include 'components/sidebar-right.html' %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}